/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
	font-family: system-ui, helvetica, arial, sans;
  min-height: 100vh;
}
h1 {
  font-size: 7vh;
}

h2 {
  font-size: 2em;
}

.content-container {
  background: rgb(0, 0, 0);
  flex-grow: 1;
  padding: 25vh 0 150px;
  
}

sup {
	font-size: .5em;
	vertical-align: top;
}

/* HEADER STYLES */
.header {
	background-color: #000;
	border-bottom: 1px solid #fff;
	padding-bottom: .8em;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 40vh;
}

.header-logo img {
  width: 40vh;
}

.light-up {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

.light-up.here {
  display: inline-block;

}

.header-nav {
	list-style: none;
	text-align: center;
}

.header-nav > li {
	display: inline-block;
}

.header-nav > li ~ li {
	padding-left: 3.5em;
}

.header-nav a {
	color: #fff;
	font-size: 1.8rem;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.header-nav a:hover,
.header-nav a:active {
	color: rgb(91, 199, 122);
	transition: color .5s ease-in;
}

.header-nav .here {
	color: rgb(91, 199, 122);
}

/* FOOTER STYLES */
.footer {
	background-color: #000;
	border-top: 1px solid #fff;
	bottom: 0;
	box-sizing: border-box;
  color: #fff;
	height: 150px;
	left: 0;
	padding-top: 30px;
	position: fixed;
	width: 100%;
	z-index: 21;
}

.footer p {
	font-size: 0.7em;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 1.2em;
}

/* MENU STYLES */
.menu-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}

.menu-header {
  text-align: center;
  text-transform: uppercase;
}

.cocktail-menu-header {
  color: rgb(195, 131, 171);
  flex: 1 1 0;
}

.food-menu-header {
  color: rgb(255, 255, 255);
  flex: 1;
  padding: 2vh 0 4vh;
  text-decoration: underline;
  transform: rotate(-20deg) translate(-20px,0);
}

.menu-item {
  box-sizing: border-box;
  flex: 0 0 50%;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.menu-item h2 {
  color: #fff;
  padding-right: 40px;
  text-transform: uppercase;
}

.menu-item > p {
  color: #fff;
  font-style: italic;
  font-weight: lighter;
}

.menu-item .price {
  color: rgb(91, 199, 122);
  font-size: 1.8em;
  position: absolute;
  right: 20px;
  top: 20px;
}
.menu-item .price p::before {
  content: "$";
}

@media (max-width: 800px) {
  .menu-section {
    flex-direction: column;
  }
	.menu-item {
    flex: 1;
	  padding: .5em 1em;
	}
	
	.menu-item .price {
	  position: static;
  }
}