/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
	font-family: system-ui, helvetica, arial, sans;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
  padding: 25vh 0 150px;
  
}

sup {
	font-size: .5em;
	vertical-align: top;
}

/* HEADER STYLES */
.header {
	background-color: #000;
	border-bottom: 1px solid #fff;
	padding-bottom: .8em;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 40vh;
}

.header-logo img {
  width: 40vh;
}

.header-nav {
	list-style: none;
	text-align: center;
}

.header-nav > li {
	display: inline-block;
}

.header-nav > li ~ li {
	padding-left: 3.5em;
}

.header-nav a {
	color: #fff;
	font-size: 1.8rem;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.header-nav a:hover,
.header-nav a:active {
	color: rgb(91, 199, 122);
	transition: color .5s ease-in;
}

.header-nav .here {
	color: rgb(91, 199, 122);
}

/* MENU STYLES */
.menu-wrapper {
  margin: auto;
}

.menu-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.menu-column {
	box-sizing: border-box;
	float: left;
  padding: 0 3%;
	text-align: center;
	width: 50%;
}

.menu-column p {
	font-size: 0.8em;
}

/* FOOTER STYLES */
.footer {
	background-color: #000;
	border-top: 1px solid #fff;
	bottom: 0;
	box-sizing: border-box;
  color: #fff;
	height: 150px;
	left: 0;
	padding-top: 30px;
	position: fixed;
	width: 100%;
	z-index: 21;
}

.footer p {
	font-size: 0.7em;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 1.2em;
}