/* Global Styles */
body {
  font-family: system-ui;
  background-color: #000;
  color: #aaa;
}

h1 {
  color: #ccc;
}

a {
  color: #ccc;
}

/* Other Styles */
.container {

}

.wip {
  text-align: center;
}